@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Avenir LT Std";
  src: url("/path-to-fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("/path-to-fonts/AvenirLTStd-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.avenir-font {
  font-family: "Avenir LT Std", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
